@font-face {
  font-family: "Open Sans Regular";
  src: local("Open Sans Regular"), url("/fonts/opensans.woff2") format("woff2"), url("/fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans Bold";
  src: local("Open Sans Bold"), url("/fonts/opensansbold.woff2") format("woff2"), url("/fonts/opensansbold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  min-width: 320px;
  min-height: 3932px;
  margin: 0 auto;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-image: url("/img/mishka-index-mobile_menu.jpg"); }

a {
  text-decoration: inherit;
  color: inherit; }

.container {
  width: 320px;
  margin: 0 auto;
  opacity: 0.3; }

@media (min-width: 768px) {
  .container {
    width: 768px; } }

@media (min-width: 1200px) {
  .container {
    width: 1200px; } }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header {
  position: relative; }

.page-header__logo {
  display: block;
  height: 79px;
  width: 320px;
  padding: 0 30px;
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid #ececec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.main-nav {
  min-height: 316px; }

.main-nav__toggle {
  display: none; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__close-button {
  font-size: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 29px;
  left: 30px;
  width: 21px;
  height: 20px;
  background-image: url("/img/icon-menu-close.svg"); }

.site-list__item {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  display: block;
  height: 78px;
  padding: 0 30px;
  border-top: 1px solid #ececec; }

.site-list__item a {
  position: relative;
  display: block;
  padding-left: 45px;
  padding-top: 25px; }

.site-list__item--search::before,
.site-list__item--basket::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 2px;
  width: 18px;
  height: 18px;
  background-image: url("/img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.site-list__item--basket::before {
  width: 21px;
  left: 0;
  background-image: url("/img/icon-cart.svg"); }

.second-nav {
  position: relative;
  min-height: 489px;
  border-top: 1px solid #ececec; }

.second-nav__wrapper {
  display: none; }

.second-nav__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 70px;
  z-index: 1; }

.second-nav__picture {
  padding: 0;
  margin: 0;
  width: 320px;
  height: 356px;
  margin-top: -160px;
  overflow: hidden; }

.second-nav__img {
  display: block;
  margin-top: -18px;
  margin-left: -128px; }

.second-nav__types-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  margin-top: -74px;
  min-height: 206px;
  z-index: 1; }

.second-nav__types-item {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #000000;
  position: relative;
  height: 103px;
  padding-top: 25px;
  padding-left: 28px;
  color: #ffffff;
  background-color: #63d1bb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .second-nav__types-item::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 36px;
    width: 40px;
    height: 62px;
    background-image: url("/img/icon-interior.svg"); }

.second-nav__types-item--toy {
  background-color: #56c3b2; }
  .second-nav__types-item--toy::after {
    position: absolute;
    top: 21px;
    right: 27px;
    width: 60px;
    height: 60px;
    background-image: url("/img/icon-toy.svg"); }

/*# sourceMappingURL=style.css.map */
