@import "./variables.scss";
@import "./mixin.scss";

@font-face {
  font-family: "Open Sans Regular";
  src: local("Open Sans Regular"),
    url("/fonts/opensans.woff2") format("woff2"),
    url("/fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Bold";
  src: local("Open Sans Bold"),
  url("/fonts/opensansbold.woff2") format("woff2"),
  url("/fonts/opensansbold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  min-height: 3932px;
  margin: 0 auto;
  @include font-regular(17px, 30px);
  background-repeat: no-repeat;
  background-position: 50% 0;
  // background-image: url("/img/mishka-index-desktop.jpg");
}

a {
  text-decoration: inherit;
  color: inherit;
}

.container {
  width: 320px;
  margin: 0 auto;
  // временно
  // opacity: 0.5;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
  }
}




.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  @include reset-padding();
  @include font-bold(17px, 20px);
  display: block;
  width: 258px;
  height: 52px;
  padding-top: 13px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #444444;
  box-sizing: border-box;
  &:hover {
    color: #ffffff;
    background-color: #444444;
  }
  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
  }
  
}