@import "./variables.scss";
@import "./mixin.scss";

.features {
  @include reset-padding();
  padding: 0 30px;
  margin-bottom: 30px;
  border-image: url("/img/bg-zigzag-line.svg") 0 25 96 25 stretch;
  border-style: solid;
  border-image-width: 6px;

}

.features__title {
  @include reset-padding();
  @include font-bold(25px, 30px);
  padding-top: 25px;
  margin-bottom: 3px;
}

.features__hit-mark {
  @include font-bold(17px, 20px);
  display: block;
  margin-bottom: 24px;
  color: $main-color;
  text-transform: uppercase;
}

.features__text {
  @include reset-padding();
  @include font-regular(15px, 24px);
  margin-bottom: 18px;
}

.features__list {
  @include reset-padding();
  @include font-regular(15px, 20px);
  border-collapse: collapse;
  margin-bottom: 29px;
}

.features__parametr {
  @include reset-padding();
  height: 39px;
  width: 96px;
  border-bottom: 1px solid #ececec;
}

.features__value {
  padding-top: 1px;
  border-bottom: 1px solid #ececec;
}

.features__picture {
  @include reset-padding();
  width: 260px;
  height: 315px;
}

.features__price {
  @include font-bold(17px, 24px);
  display: block;
  height: 74px;
  padding-top: 24px;
  text-align: center;
  box-sizing: border-box;
}

.features__button {
  margin-left: -1px;
  margin-bottom: 38px;
}
