@import "./variables.scss";
@import "./mixin.scss";

.fieldset {
  border-top: 1px solid #63d1bb;

}

.fieldset__legend {
  @include font-bold(17px, 16px);
  padding-right: 25px;
  text-transform: uppercase;
  color: #63d1bb;

}

.fieldset__list {
  @include reset-list();
  @include reset-padding();
}

.fieldset__item-radio {
  position: relative;
  margin-left: 62px;
  margin-bottom: 5px;
}

.fieldset__item-radio label {
  @include font-bold(17px, 18px);
}

.fieldset__radio-indicator {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -5px;
  left: -63px;
  border: 3px solid #444444;
  border-radius: 50%;
  box-sizing: border-box;
}

.fieldset__radio:checked+.fieldset__radio-indicator::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  background-color: #62d1ba;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.fieldset__list--checkbox {
  position: relative;
  display: flex;
  flex-direction: column;
}

.fieldset__item-checkbox {
  margin-bottom: 32px;
}

.fieldset__item-checkbox label {
  position: relative;
  margin-left: 64px;
}

.fieldset__item-checkbox:last-child {
  margin-bottom: 10px;
}


.fieldset__checkbox-indicator {
  content: "";
  position: absolute;
  width: 40px;
  height: 39px;
  left: -64px;
  top: -10px;
  border: 2px solid #444444;
  box-sizing: border-box;
}


.fieldset__checkbox:checked+.fieldset__checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 22px;
  height: 17px;
  background-image: url("/img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left bottom;
}

.fieldset__item-input label {
  @include font-bold(17px, 18px);
  // margin-bottom: 15px;
}

.fieldset__text {
  @include reset-border();
  @include font-regular(17px, 18px);
  width: 260px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #c7c7c7;
  border-bottom: 2px solid #000000;
}

.fieldset__text:focus {
  outline: none;
}

.fieldset__textarea {
  width: 260px;
}

.fieldset--add {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .fieldset {
    // display: flex;
    border: none;
  }

  .fieldset__legend {
    position: absolute;
  }

  .fieldset__list {
    position: relative;
    padding-left: 217px;
  }

  .fieldset__item-radio br {
    display: none;
  }

}
