@import "./variables.scss";
@import "./mixin.scss";

.page-header {
  position: relative;
}

.page-header__logo {
  display: block;
  height: 79px;
  width: 320px;
  padding: 0 30px;
  padding-top: 20px;
  border-top: 1px solid #ececec;
  box-sizing: border-box;
  text-align: center;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.page-header__img {
  height: 35px;
  width: 86px;
  margin: 0 auto;
  // background-image: url("../img/logo-mobile.svg");
  // background-position: 0 0;
  // background-repeat: no-repeat;
}


@media (min-width: $tablet-width) {
  .page-header {
    padding: 0 50px;
  }

  .page-header__logo {
    @include reset-border();
    position: relative;
    display: inline-block;
    height: 89px;
    padding-left: 0;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    text-align: left;
    z-index: 2;
  }

  .page-header__img {
    width: 113px;
    height: 46px;
    margin: 0;
    // background-image: url("../img/logo-tablet.svg");
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 0;
  }
  .page-header__img {
    width: 149px;
    height: 72px;
    // background-image: url("../img/logo-desktop.svg");
  }
  .page-header__logo {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-23%);
    border: none;
  }
}
