@import "./variables.scss";
@import "./mixin.scss";

.site-list__item {
  @include font-bold(17px, 24px);
  display: block;
  height: 78px;
  padding: 0 30px;
  border-top: 1px solid #ececec;
}

.site-list__item a {
  position: relative;
  display: block;
  padding-left: 45px;
  padding-top: 25px;
}

.site-list__item--search::before,
.site-list__item--basket::before {
  content: "";
  @include set-abs-size-tl(30px, 2px, 18px, 18px);
  background-image: url("/img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-list__item--basket::before {
  width: 21px;
  left: 0;
  background-image: url("/img/icon-cart.svg")
}

