@import "./variables.scss";
@import "./mixin.scss";

.social {
  height: 81px;
  box-sizing: border-box;
  border-bottom: 1px solid #f1f1f1;
}

.social__list {
  @include reset-list();
  width: 141px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social__item {
  width: 23px;
  height: 30px;
}

.social__link {
  display: block;
  font-size: 0px;
  &--instagram {
    margin-top: 5px;
    margin-left: 2px;
  }
  &--facebook {
    margin-left: 5px;
  }
  &--twitter {
    margin-top: 5px;
  }
}

// .social__link {
//   &:hover {
//     fill: #46c1ae;
//   }
//   &:active {
//     opacity: 0.3;
//   }
// }

.page-footer__picture {
  &:hover {
    fill: #46c1ae;
  }
  &:active {
    opacity: 0.3;
  }
}