@import "./variables.scss";
@import "./mixin.scss";

.social {
  height: 81px;
  box-sizing: border-box;
  border-bottom: 1px solid #f1f1f1;
}

.social__list {
  @include reset-list();
  width: 141px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social__item {
  width: 23px;
  height: 30px;
}

.social__link {
  display: block;
  font-size: 0px;
  background-image: url("../img/icon-insta.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  &--facebook {
    background-image: url("../img/icon-fb.svg");
  }
  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }
}
